*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    background: rgb(76, 76, 216);
}
.container{
    display: flex;
    flex-direction: column;
}
.kitchen-title-text{
    font-size: 24px;
    color: aliceblue;
}
.kitchen-Header{
    display: flex;
    height: 40px;
}
.kitchen-Header input{
    padding: 10px;
    outline: none;
}
.kitchen-Header button {
    padding: 10px;
    background: #000;
    color: aliceblue;
}

.kitchen-item-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background: rgb(230, 155, 5);
    height: 40px;
    margin-bottom: 3px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}
.kitchen-item-list li i {
    margin-right: 10px;
    color: aliceblue;
}
