*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    background: rgb(76, 76, 216);
}
.container{
    display: flex;
    flex-direction: column;
}
.kitchen-title-text{
    font-size: 24px;
    color: aliceblue;
}
.kitchen-Header{
    display: flex;
    height: 40px;
}
.kitchen-Header input{
    padding: 10px;
    outline: none;
}
.kitchen-Header button {
    padding: 10px;
    background: #000;
    color: aliceblue;
}
.kitchen-item-list li{
background:rgb(255, 145, 0);
list-style: none;
height: 40px;
margin-bottom: 10px;
padding-left: 10px;
font-weight: 600;
font-size: 20px;
display: flex;
align-items: center;
}